body {
  background-color: rgb(44, 43, 43);
}
.r {
  float: right;
  display: inline-block;
}
.delete {
  float: right;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
  color: #42daf5;
}
video {
  width: 100%;
  height: auto;
}
audio {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  object-fit: contain;
}
